/* Original Bootstrap CSS: 121 Kb + 22 Kb */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #204b20;
}
body .container-fluid {
  margin: 0;
  padding: 0;
}
#header li,
#footer li {
  letter-spacing: 0.1em;
  font-family: serif;
  padding: 0.1em;
  padding-top: 0.2em;
}
#header .active,
#footer .active {
  font-weight: bold;
  background-color: rgba(153, 153, 153, 0.2);
}
#header {
  text-align: center;
  font-size: larger;
  color: #204b20;
  padding-bottom: 1em;
  background-color: #dbdbdb;
  background-image: -moz-linear-gradient(top, #eeeeee, #bfbfbf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#bfbfbf));
  background-image: -webkit-linear-gradient(top, #eeeeee, #bfbfbf);
  background-image: -o-linear-gradient(top, #eeeeee, #bfbfbf);
  background-image: linear-gradient(to bottom, #eeeeee, #bfbfbf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffbfbfbf', GradientType=0);
}
#header ul {
  margin-left: 0;
  margin-top: -2px;
}
#header ul li {
  display: inline-block;
  margin-left: 0.7em;
  margin-right: 0.7em;
}
#header ul li a {
  color: #204b20;
}
#main-row {
  background-color: #809180;
  background-image: -moz-linear-gradient(top, #bfbfbf, #204b20);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bfbfbf), to(#204b20));
  background-image: -webkit-linear-gradient(top, #bfbfbf, #204b20);
  background-image: -o-linear-gradient(top, #bfbfbf, #204b20);
  background-image: linear-gradient(to bottom, #bfbfbf, #204b20);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbfbfbf', endColorstr='#ff204b20', GradientType=0);
}
#main-row #main-container {
  padding: 2em;
  background-color: rgba(238, 238, 238, 0.8);
  min-height: 20em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#footer {
  background-color: #204b20;
  color: #bbbbbb;
  font-family: serif;
}
#footer ul {
  margin-left: 0;
}
#footer ul li {
  list-style: none;
}
#footer a {
  color: #bbbbbb;
}
#footer #footer-left {
  padding: 1em;
}
#footer #footer-middle {
  padding: 1em;
  text-align: center;
}
#footer #footer-right {
  padding: 1em;
  text-align: right;
}
.elevator-box {
  margin-bottom: 0.5em;
}
.elevator-box .elevator-heading {
  font-family: serif;
  margin-bottom: 1em;
  font-style: italic;
  font-size: x-large;
  display: inline-block;
  width: 5em;
  vertical-align: middle;
}
.elevator-box .elevator-text {
  display: inline-block;
  width: 75%;
  padding-left: 1em;
}
#recent {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
}
#recent h3 {
  font-family: serif;
}
